<!DOCTYPE hmtl>
    <%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>

        <main>
            <div class="bg-light container-fluid p-5">
                <h1>Sobre mim</h1>
                <p>Eric, estágiário de Desenvolvimento no DNA Center!</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>